body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: white;

}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    
    min-height: 400px;
    padding: 10px 20vw;
}

.container{
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background: #000;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.about{
    background: #061652;
    height: 50vh;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-right: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13;
}

.row{
    display: flex;
    height: 80%;
    padding: 115px 5px;
    text-align: left;
}

col{
    flex-basis: 15%;
}

h1{
    color: #fff;
    font-size: 80px;
}

p{
    color: #fff;
    font-size: 20px;
    
}

button{
    position: relative;
    text-align: center;
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 5px solid;
    border-radius: 100px;
    outline: none;
    margin-top: 3px;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    transition: 1.5s;
}

button:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}
.vid{
    width: 20px;
    height: 23px;
    display: inline-block;
    border-radius: 10px;
    padding: 155px 325px;
    box-sizing: border-box;
    background-size: cover;
}

.main{
    background: linear-gradient(120deg, #050514,#000) ;
    height: 90vh;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 192px;
}

.wave .shape-fill {
    fill: #061652;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(../static/modwave.svg);

}

.inside{
    align-items: left;
    
}