<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Make your NFT</title>
</head>
<body>
    <nav>
        <div class="logo"> Mint the NFT </div>
        <ul>
            <li><a href="#"></a>Canvas Area</li>
            <li><a href="#"></a>NFT Marketplace</li>
        </ul>
    </nav>
    <section class="Main">
    <div class="hero">
        <div class="content">
            <h12>Your place for</h2> <br>
                <h1>NFTS at instant</h1>
            <button type="button"> Create your NFT </button>
            <div class="video">
                <video src="../static/more.mp4" muted loop autoplay></video>
        </div>
    </div>
    </section>
    <section class="about">
        <div class="hero">
            <div class="content">
                <h1 align="center">
                    What do we do?
                </h1>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col">
                <p> HOLA </p>
            </div>
            <div class="col">
                <h3> Office </h3>
                <h3> ADD </h3>
                <p> sdja</p>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </footer>
</body>
</html>